body {
    background-image: url(../images/background-stars.jpg); 
    color: gold;
    background-color: black; 
    text-align: center;
}

@font-face {
    font-family: 'Star Wars';
    src: url(../fonts/Starjedi.ttf) format('truetype');
}

h1 {
    font-size: 8rem;
    font-family: 'Star Wars', Arial, Helvetica, sans-serif;
}

section {
    max-width: 50rem;
    margin: 4rem auto 0;
    border: .3rem dashed white;
}

h2,
p {
    width: 15rem;
    margin: .7rem auto;
}

h2 {
    font-size: 2rem;
}

p {
    font-size: 1.4rem;
}
